.noResult{background:#fff;padding:40px 20px;display:flex;flex-direction:column;align-items:center;justify-content:center;box-shadow:$shadowWhite}
.noResult span i, .noResult span svg{color:#cecece;font-size:44px;width:auto}
.noResultText{text-align:center;font:normal 400 13px 'Poppins';color:#999;margin-top:$space}