$space: 20px;
$shadowWhite: 0px 0px 14px 0px rgba(82,63,105, 0.05);
$logoPath: url('img/logo.png');

$colorBlack: #434349;
$headerBlack: #20202b;

$inputBorderColor: #e2e5ec;
$activeBlue: #2C67CD;

$sidebarWidth: 200px;